<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Orange rabbit</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/fonts.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="container">
                    <img src="images/logo.png" class="logo" alt="logo">
                    <h1><span>orange</span><br>rabbit</h1>
                    <nav>
                        <ul class="menu">
                            <li>
                                <a href="#" class="icon-home"><p>home</p></a>
                            </li>
                            <li>
                                <a href="#" class="icon-about"><p>about</p></a>
                            </li>
                            <li>
                                <a href="#" class="icon-work"><p>work</p></a>
                            </li>
                            <li>
                                <a href="#" class="icon-blog"><p>blog</p></a>
                            </li>
                            <li>
                                <a href="#" class="icon-contact"><p>contact</p></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <section class="slider">
                <div class="container">
                    <div class="title-one">do you like rabbits?</div>
                    <div class="title-two">do you like oranges?</div>
                </div>
            </section>
            <section class="articles">
                <div class="container">
                    <div class="column">
                        <article>Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi
                                ut aliquip ex ea commodo consequat.
                        </article>
                        <a href="#">read more...</a>
                    </div>
                    <div class="column">
                        <article>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi
                                ut aliquip ex ea commodo consequat.
                        </article>
                        <a href="#">read more...</a>
                    </div>
                    <div class="column">
                        <article>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi
                                ut aliquip ex ea commodo consequat.  
                        </article>
                        <a href="#">read more...</a>
                    </div>
                    <div class="column">
                        <article>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi
                                ut aliquip ex ea commodo consequat.
                        </article>
                        <a href="#">read more...</a>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="team-members">
                        <h2>Meet the team</h2>
                        <figure>
                            <p><span>Hoof</span> - Lead Designer</p>
                            <img src="images/hoof.jpg" alt="hoof" height="300px" width="300px">
                            <figcaption>Hoof is our most talanted designer.  
                                However he`s not the talkative 
                                type and I would advise not 
                                getting on the wrong side of him.
                            </figcaption>
                        </figure>
                        <figure>
                            <p><span>Nibs</span> - CEO/Director</p>
                            <img src="images/nibs.jpg" alt="nibs" height="300px" width="300px">
                            <figcaption>
                                    Nibs is our go to woman. 
                                    She’s the ceo/director of orange 
                                    rabbit and runs fast when she has too.
                            </figcaption>
                        </figure>
                        <figure>
                            <p><span>Squawk</span> - Developer</p>
                            <img src="images/squawk.jpg" alt="squawk" height="300px" width="300px">
                            <figcaption>Squawk is no social bunny. 
                                But when it comes to programming 
                                he stands out from the crowd.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </section>
                <form>
                    <div class="container">
                        <fieldset> 
                            <legend>Send us a message...</legend> 
                            <div>
                                <label for="name"><p class="name-field">Name:</p></label> 
                                <input required id="name"/> 
                            </div>
                            <div>
                                <label for="email"><p class="mail-field">Email:</p></label>              
                                <input required id="email"/> 
                            </div>
                                <textarea></textarea> 
                                <p>Message:</p>
                                <button name="Submit">
                                    Submit
                                </button>
                        </fieldset> 
                    </div>
                </form>
            <footer>
                    <p>СOPYRIGNT ORANGE RABBIT - DESIGNED BY JAKE BHATT,</p>
            </footer>
            </div>
    </body>
</html>
